<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>单个用户订单信息</title>
</head>
<body>
    <div class="box">
        <a href="/allorder">查看订单列表</a>
        <h1><%= phone%> <br>用户所点的餐如下：</h1>
        <h3><%= cooker %></h3>
    </div>
   

</body>
</html>