<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>订餐系统</title>
    <style>
        .box{
            width: 350px;
            height: 350px;
            background-color: rgb(187, 156, 161);
            color: #333;
            margin: 200px auto;
            padding: 50px;
            text-align: center;
            border-radius: 20px;
        }
        p{
            margin: 50px 0;
        }
        input{
            width: 200px;
            height: 30px;
            outline: none;
        }
        #btn{
            width: 100px;
            height: 30px;
            color: rgb(192, 178, 178);
            font-size: 20px;
            background-color:rgb(121, 107, 109);
            outline: none;
            border:1px solid #999
        }
    </style>
</head>
<body>
    <div class="box">
        <h1>订餐系统</h1>
        <p>请输入你的手机号:
        <input type="text" name="phone">
        </p>
        <p>请输入您要点的菜:
            <input type="text" name="cooker">
         </p>
         <button id="btn" style="margin-bottom: 30px;">下单</button><br>
<a href="./allorder">点击查看所有订单</a>
    </div>
</body>
</html>
<script src="/jquery1.11.3.js"></script>
<script>
    $("#btn").click(function(){
        let phone=$("input[name=phone]").val()
        let cook=$("input[name=cooker]").val()
        let content={
            phone:phone,
            cook:cook
        }
        $.post("/save",content,function(data){
            if(data==1){
                alert("请求成功")
            } else{
                alert("请求失败")
            }

        })
    })
</script>