<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户信息</title>
    <style>
        .box{
        width: 400px;
        height: 400px;
        background-color: #ccc;
        margin: 50px auto;
        padding: 100px;
    }
    </style>
</head>
<body>
    <div class="box">
        <a href="/allorder">查看订餐列表</a>
        <h2><%= phone %><br/>点菜如下：</h2>
        <h1><%= cooker %></h1>
    </div>
</body>
</html>